<div class="form-part contacts" >
    <div class="list-container blocked" >
        {{#each contacts}}
            {{> contact}}
        {{/each}}
    </div>
</div>


<form class="form">
    <div class="controls-wrapper">
        <input class="input" type="text" required name="name" placeholder="Name...">
        <input class="input" type="tel" required name="phone" placeholder="Phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">

    </div>
</form>


<div class="controls-wrapper">
    <div class="form-part control">
        <button onclick="addContact()">+</button>
    </div>
    <div class="form-part control">
        <button onclick="{{dismiss}}">Cancel</button>
    </div>
</div>